[Unit]
Description=lima-guestagent

[Service]
ExecStart={{.Binary}} daemon {{.Args}} --debug
Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
